body{
    margin: 0
}

/* .main{
    display: flex;
    justify-content: space-around;
} */

.circ{
    margin-top: 300px;
    margin-left: 154px;
}

.child{
    margin-left: 200px;
    margin-top: 50px;
    margin-right: 200px;
    margin-bottom: 50px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(197, 197, 197);
    line-height: 1.5
}

h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    color: rgb(197, 197, 197);
}